.heroSection {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-family: sans-serif;
}

h1 {
  font-size: 2em;
}

.labelName {
  font-size: 1.5em;
}

.inputName {
  border-radius: 50%;
  font-size: 1.25em;
}

.required {
  color: gold;
  font-weight: bold;
}

.submitBtn {
  display: 'none';
}
